<ion-content class="login-content" padding color="dark">
  <ion-row>
    <ion-col>
      <div>
        <img src="https://cdn.pixabay.com/photo/2013/01/29/22/06/facebook-76658_960_720.png">
      </div>
      <p class="description">Ionic 4</p>
      <p class="description">Práctica de aplicaciones móviles </p>
      <p class="description">Grupo 5 login con Facebook</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-button class="log-in-button" color="primary" expand="block" (click)="doFbLogin()">
        Iniciar sesión
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>

